{%- extends 'layout/base.html' -%}

{%- block logo -%}<a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='img/soon_black.png') }}" alt="SOON_" width="113px" height="44px" /></a>{%- endblock -%}

{%- block javascript_tail %}
<script src="{{ url_for('static', filename='js/soon.js') }}"></script>
{% endblock -%}

{%- block id -%}home{%- endblock -%}

{%- block nav -%}
<div class="navbar-collapse collapse col-xs-12 col-sm-12">
    <ul class="nav navbar-nav navbar-right">
        <li data-slide="1"><a href="#home">Hello</a></li>
        <li data-slide="2"><a href="#what">What we do</a></li>
        <li data-slide="4"><a href="#projects">Recent projects</a></li>
        <li data-slide="5"><a href="#jobs">Work with us</a></li>
        <li data-slide="7"><a href="#contact">Get in touch</a></li>
    </ul>
</div>
{%- endblock -%}

{%- block body %}
<a id="hello" /></a>
<div id="slide1" class="slide" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 hidden-sm visible-md visible-lg"></div>
            <div class="col-xs-12 col-sm-9">
                <h1>Hello</h1>
                <p class="lead-copy">We make brands successful by
                combining insightful <em>strategy</em>, seamless
                <em>technology</em>, persuasive <em>design</em> and
                relevant <em>content</em>.</p>
            </div>
        </div>
    </div>
</div>

<a id="what" /></a>
<div style="background:url('{{ url_for('static', filename='img/bg_39.jpg') }}') no-repeat;background-size:100% 100%">
    <div id="slide2" class="slide" data-stellar-background-ratio="0.5">
        <div class="container panel-2">
            <div class="row">
                <div class="col-md-3 hidden-sm visible-md visible-lg"></div>
                <div class="col-xs-12 col-sm-9">
                    <h2>We can help you be more digital<span class="grey">*</span></h2>
                    <p class="intro">Digital isn’t about technology any more. It’s your shop window, brochure, customer services and marketing departments. And it is becoming part of everyone’s products &amp; services.</p>
                    <p class="small">*we don’t like the word “digital”, but it’s the word people use. Ask us and we’ll tell you why.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="slide3" class="slide" data-stellar-background-ratio="0.5">
    <div class="container panel-3">
        <div class="row">
            <div class="col-md-3 hidden-sm visible-md visible-lg"></div>
            <div class="col-md-9 col-xs-12">
                <h2>We make brilliant digital things...</h2>
                <p>In more detail, we provide:</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 hidden-sm visible-md visible-lg"></div>
            <div class="col-md-2 col-xs-6" style="height:300px;">
                <h3>1</h3>
                <h4 class="underline">Strategy</h4>
                <ul>
                    <li>Digital strategy</li>
                    <li>Service design</li>
                    <li>User testing</li>
                    <li>Digital consumer research</li>
                </ul>
            </div>
            <div class="col-md-2 col-xs-6" style="height:300px;">
                <h3>2</h3>
                <h4 class="underline">Branding</h4>
                <ul>
                    <li>Brand development</li>
                    <li>Identity</li>
                    <li>Digital design direction</li>
                    <li>Content guidelines</li>
                </ul>
            </div>
            <div class="col-md-2 col-xs-6" style="height:320px;">
                <h3>3</h3>
                <h4 class="underline">Development</h4>
                <ul>
                    <li>Responsive websites</li>
                    <li>Digital services &amp; platforms</li>
                    <li>eCommerce</li>
                    <li>Prototyping</li>
                </ul>
            </div>
            <div class="col-md-2 col-xs-6" style="height:320px;">
                <h3>4</h3>
                <h4 class="underline">Physical</h4>
                <ul>
                    <li>Event installations</li>
                    <li>Digital retail experiences</li>
                    <li>Digital point of sale</li>
                    <li>Research &amp; Development</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<a id="projects" /></a>
<div id="slide4" class="projects slide" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="carousel slide" data-ride="carousel" id="folio">
            <div class="carousel-inner">
                <div class="folio-1 item active">
                    <img src="{{ url_for('static', filename='img/2_Peabody.png') }}">
                    <div class="col-md-3 hidden-sm visible-md visible-lg"></div>
                    <div class="col-md-9 col-xs-9 words">
                        <h2>Peabody</h2>
                        <p class="grey">Responsive website for the new sales arm of Peabody property</p>
                        <a href="/peabody/">Read the full case study</a>
                    </div>
                </div>
                <div class="folio-2 item">
                    <img src="{{ url_for('static', filename='img/1_RA.png') }}">
                    <div class="col-md-3 hidden-sm visible-md visible-lg"></div>
                    <div class="col-md-9 col-xs-9 words">
                        <h2>Resident Advisor</h2>
                        <p class="grey">A new visual identity &amp; platform re-design for club culture’s favourite<br />online magazine.</p>
                        <a href="/residentadvisor/">Read the full case study</a>
                    </div>
                </div>
            </div>
            <div class="controls">
                <a class="cycle" href="#folio" data-slide="prev"><span class="left"></span></a>
                <a class="cycle" href="#folio" data-slide="next"><span class="right"></span></a>
                <h3 class="counter hidden-sm visible-md visible-lg">1/2</h3>
            </div>
        </div>
    </div>
</div>

<a id="jobs" /></a>
<div id="slide5" class="slide" data-stellar-background-ratio="0.5">
    <div class="container panel-3">
        <div class="row">
            <div class="col-md-3 hidden-sm visible-md visible-lg"></div>
            <div class="col-md-9 col-xs-9">
                <h2>Work with us</h2>
                <p class="intro">SOON_ is growing
                steadily and we are always on the look out for great
                talent. If you have something special to offer, please
                get in touch.</p>
            </div>
        </div>
        <div class="row" style="padding-bottom:20px;">
            <div class="col-md-3 hidden-sm visible-md visible-lg"></div>
            {% for object in objects %}
                <div class="col-md-4 col-xs-6">
                    <h4 class="underline">{{ object.title }}</h4>
                    <p class="grey">{{ object.blurb }}</p>
                    <p><a href="{{ url_for('media', filename=object.spec) }}" target="_blank">View details</a></p>
                </div>
                {% if loop.index % 2 == 0 %}
                    </div>
                    <div class="row">
                    <div class="col-md-3 hidden-sm visible-md visible-lg"></div>
                {% endif %}
            {% endfor %}
            <div class="col-md-4 col-xs-6">
                <h4 class="underline">Freelancers</h4>
                <p class="grey">We’re always keen to hear from great specialist freelancers, so please send your portfolio or details to:</p>
                <p><a href="mailto:freelancers@thisissoon.com">freelancers@thisissoon.com</a></p>
            </div>
        </div>
    </div>
</div>

<a id="about" /></a>
<div class="about">
    <div id="slide7" class="slide" data-stellar-background-ratio="0.5">
        <div class="container panel-3">
            <div class="row">
                <div class="col-md-3 hidden-sm visible-md visible-lg"></div>
                <div class="col-md-9 col-xs-9">
                    <h2>About us</h2>
                </div>
            </div>
            <div class="row hidden-sm visible-md visible-lg">
                <div class="col-md-3 hidden-sm visible-md visible-lg"></div>
                <div class="fred col-md-2 col-xs-12">
                    <h4 class="underline"><a href="http://uk.linkedin.com/in/fredflade" target="_blank" class="linkedin">Fred Flade</a></h4>
                    <p>Creative Director
                        <br />Co-Founder</p>
                </div>
                <div class="alex col-md-2 col-xs-12">
                    <h4 class="underline"><a href="http://uk.linkedin.com/in/alexlight" target="_blank" class="linkedin">Alex Light</a></h4>
                    <p>Managing Director
                        <br />Co-Founder</p>
                </div>
                <div class="greg col-md-2 col-xs-12">
                    <h4 class="underline"><a href="http://uk.linkedin.com/in/gregatsoon" target="_blank" class="linkedin">Greg Reed</a></h4>
                    <p>Technical Director
                        <br />Co-Founder</p>
                </div>
                <div class="chris col-md-2 col-xs-12">
                    <h4 class="underline"><a href="http://uk.linkedin.com/in/krak3n/" target="_blank" class="linkedin">Chris Reeves</a></h4>
                    <p>Senior Developer</p>
                </div>
            </div>
            <div class="row visible-xs">
                <div class="carousel slide" data-ride="carousel" id="people">
                    <div class="carousel-inner">
                        <div class="people-1 item active">
                            <div class="col-md-3 hidden-sm visible-md visible-lg"></div>
                            <div class="fred col-md-2 col-xs-12">
                                <h4 class="underline"><a href="http://uk.linkedin.com/in/fredflade" target="_blank" class="linkedin">Fred Flade</a></h4>
                                <p>Creative Director
                                    <br />Co-Founder</p>
                            </div>
                        </div>
                        <div class="people-2 item">
                            <div class="col-md-3 hidden-sm visible-md visible-lg"></div>
                            <div class="alex col-md-2 col-xs-12">
                                <h4 class="underline"><a href="http://uk.linkedin.com/in/alexlight" target="_blank" class="linkedin">Alex Light</a></h4>
                                <p>Managing Director
                                    <br />Co-Founder</p>
                            </div>
                        </div>
                        <div class="people-3 item">
                            <div class="col-md-3 hidden-sm visible-md visible-lg"></div>
                            <div class="greg col-md-2 col-xs-12">
                                <h4 class="underline"><a href="http://uk.linkedin.com/in/gregatsoon" target="_blank" class="linkedin">Greg Reed</a></h4>
                                <p>Technical Director
                                    <br />Co-Founder</p>
                            </div>
                        </div>
                        <div class="people-4 item">
                            <div class="col-md-3 hidden-sm visible-md visible-lg"></div>
                            <div class="chris col-md-2 col-xs-12">
                                <h4 class="underline"><a href="http://uk.linkedin.com/in/krak3n/" target="_blank" class="linkedin">Chris Reeves</a></h4>
                                <p>Senior Developer</p>
                            </div>
                        </div>

                    </div>
                    <a class="cycle" href="#people" data-slide="prev"><span class="left"></span></a>
                    <a class="cycle" href="#people" data-slide="next"><span class="right"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="slide8" class="slide" data-stellar-background-ratio="0.5">
    <div class="container contact">
        <div class="row">
            <div class="col-md-3 hidden-sm visible-md visible-lg">
            </div>
            <div class="col-md-9 col-xs-9">
                <h1>Say hello</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 hidden-sm visible-md visible-lg"></div>
            <div class="col-md-3 col-xs-6">
                <h4 class="underline white">Visit us:</h4>
                <p>The Third Floor<br>
                Fergusson House<br>
                124-128 City Road<br>
                London<br>
                EC1V 2NJ</p>
            </div>
            <div class="col-md-3 col-xs-6">
                <h4 class="underline white">Get in touch:</h4>
                <p>
                    <a href="mailto:hello@thisissoon.com">hello@thisissoon.com</a><br />
                    +44 (0)7940 3293333<br />
                    <a href="https://twitter.com/soonlondon" target="_blank">@thisissoon</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock -%}
