<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=0.9, user-scalable=no">
    <meta content="We make brands successful by combining insightful strategy, seamless technology, persuasive design and relevant content." name="description">
    <meta content="dorks@thisissoon.com" name="author">
    <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="shortcut icon">

    <title>SOON_ </title><!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/soon.css') }}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>

<body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-fixed-top" role="navigation" style="background:#ebf0f1;opacity:0.95;">
        <div class="container">
            <div class="navbar-header col-md-3">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='img/soon_black.png') }}" alt="SOON_" width="113px" height="44px" /></a>
            </div>
            <div class="navbar-collapse collapse col-xs-12 col-sm-12">
                <ul class="nav navbar-nav navbar-right">
                    <li data-slide="1"><a href="#home">Hello</a></li>
                    <li data-slide="2"><a href="#what">What we do</a></li>
                    <li data-slide="4"><a href="#projects">Recent projects</a></li>
                    <li data-slide="5"><a href="#jobs">Work with us</a></li>
                    <li data-slide="7"><a href="#contact">Get in touch</a></li>
                </ul>
            </div>
        </div>
    </div>


    <a id="hello" /></a>
    <div id="slide1" class="slide" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="col-md-3 hidden-sm visible-md visible-lg">
                </div>

                <div class="col-xs-12 col-sm-9">
                    <h1>Hello</h1>
                    <p class="lead-copy">We make brands successful by
                    combining insightful <em>strategy</em>, seamless
                    <em>technology</em>, persuasive <em>design</em> and
                    relevant <em>content</em>.</p>
                </div>

            </div>
        </div>
    </div>

    <a id="what" /></a>
    <div style="background:url('{{ url_for('static', filename='img/bg_39.jpg') }}') no-repeat;background-size:100% 100%">
    <div id="slide2" class="slide" data-stellar-background-ratio="0.5">
        <div class="container panel-2">
            <div class="row">
                <div class="col-md-3 hidden-sm visible-md visible-lg"></div>
                <div class="col-xs-12 col-sm-9">
                    <h2>We can help you be more digital<span class="grey">*</span></h2>

                    <p class="intro">Digital isn’t about technology any more. It’s your shop window, brochure, customer services and marketing departments. And it is becoming part of everyone’s products &amp; services.</p>

                    <p class="grey">*we don’t like the word “digital”, but it’s the word people use. Ask us and we’ll tell you why.</p>

                </div>
            </div>
        </div>
    </div>
    </div>

    <div id="slide3" class="slide" data-stellar-background-ratio="0.5">
        <div class="container panel-3">
            <div class="row">
                <div class="col-md-3 hidden-sm visible-md visible-lg"></div>
                <div class="col-md-9 col-xs-9">
                    <h2>We make brilliant digital things...</h2>
                    <p>In more detail, we provide:</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 hidden-sm visible-md visible-lg">
                </div>
                <div class="col-md-2 col-xs-6">
                    <h3>1</h3>
                    <h4 class="underline">Strategy</h4>
                    <ul>
                        <li>Digital strategy</li>
                        <li>Service design</li>
                        <li>User testing</li>
                        <li>Digital consumer research</li>
                    </ul>
                </div>

                <div class="col-md-2 col-xs-6">
                    <h3>2</h3>
                    <h4 class="underline">Branding</h4>
                    <ul>
                        <li>Brand development</li>
                        <li>Identity</li>
                        <li>Digital design direction</li>
                        <li>Content guidelines</li>
                    </ul>
                </div>

                <div class="col-md-2 col-xs-6">
                    <h3>3</h3>
                    <h4 class="underline">Development</h4>
                    <ul>
                        <li>Responsive websites</li>
                        <li>Digital services &amp; platforms</li>
                        <li>eCommerce</li>
                        <li>Prototyping</li>
                    </ul>
                </div>

                <div class="col-md-2 col-xs-6">
                    <h3>4</h3>
                    <h4 class="underline">Physical</h4>
                    <ul>
                        <li>Event installations</li>
                        <li>Digital retail experiences</li>
                        <li>Digital point of sale</li>
                        <li>Research &amp; Development</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <a id="projects" /></a>
    <div id="slide4" class="slide" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="carousel slide" data-ride="carousel" id="myCarousel">
                <div class="carousel-inner">
                    <div class="folio-1 item active"><img src="{{ url_for('static', filename='img/1_RA.png') }}"></div>
                    <div class="folio-2 item"><img src="{{ url_for('static', filename='img/2_RA.png') }}"></div>
                    <div class="folio-3 item"><img src="{{ url_for('static', filename='img/3_RA.png') }}"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 hidden-sm visible-md visible-lg"></div>
                <div class="col-md-9 col-xs-9">
                    <a href="http://www.residentadvisor.net" target="_blank">www.residentadvisor.net</a>
                    <p class="grey">We have just launched a new identity and web-platform for online electronic music magazine Resident Advisor<br />
                    Launched: January 2014</p>
                </div>
            </div>
        </div>
    </div>

    <a id="jobs" /></a>
    <div id="slide5" class="slide" data-stellar-background-ratio="0.5">
        <div class="container panel-3">
            <div class="row">
                <div class="col-md-3 hidden-sm visible-md visible-lg"></div>

                <div class="col-md-9 col-xs-9">
                    <h2>Work with us</h2>

                    <p class="intro">SOON_ is growing
                    steadily and we are always on the look out for great
                    talent. If you have something special to offer, please
                    get in touch.</p>
                </div>
            </div>

            <div class="row" style="padding-bottom:20px;">
                <div class="col-md-3 hidden-sm visible-md visible-lg"></div>

                <div class="col-md-4 col-xs-6">
                    <h4 class="underline">Junior Digital Designer</h4>

                    <p class="grey">We need the greatest grad ever or a designer with a couple of years experience looking to spread their wings.</p>

                    <p><a href="SOON_job_spec_junior_designer.pdf" target="_blank">View details</a></p>
                </div>

                <div class="col-md-4 col-xs-6">
                    <h4 class="underline">Digital Designer</h4>

                    <p class="grey">We need an experienced digital designer to own the art direction and design of projects as well as tackling branding &amp; identity work.</p>

                    <p><a href="SOON_job_spec_digital_designer.pdf" target="_blank">View details</a></p>
                </div>

            </div>

            <div class="row">
                <div class="col-md-3 hidden-sm visible-md visible-lg"></div>

                <div class="col-md-4 col-xs-6">
                    <h4 class="underline">Front-end Developer</h4>

                    <p class="grey">We need an HTML/CSS/Javascript legend who wants to create interfaces for a new generation of digital services &amp; platforms.</p>

                    <p><a href="SOON_job_spec_front end dev.pdf" target="_blank">View details</a></p>
                </div>

                <div class="col-md-4 col-xs-6">
                    <h4 class="underline">Freelancers</h4>

                    <p class="grey">We’re always keen to hear from great specialist freelancers, so please send your portfolio or details to:</p>

                    <p><a href="mailto:mercs@thisissoon.com">mercs@thisissoon.com</a></p>
                </div>

            </div>

        </div>
    </div>

            <div id="slide7" class="slide" data-stellar-background-ratio="0.5">
                <div class="container contact">
                    <div class="row">
                        <div class="col-md-3 hidden-sm visible-md visible-lg">
                        </div>

                        <div class="col-md-9 col-xs-9">
                            <h1>Say hello</h1>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-3 hidden-sm visible-md visible-lg">
                        </div>

                        <div class="col-md-3 col-xs-6">

                            <h4 class="underline white">Visit us:</h4>
                            <p>The Third Floor<br>
                            Fergusson House<br>
                            124-128 City Road<br>
                            London<br>
                            EC1V 2NJ</p>

                        </div>
                        <div class="col-md-3 col-xs-6">

                            <h4 class="underline white">Get in touch:</h4>
                            <p>
                                <a href="mailto:sophie@thisissoon.com">sophie@thisissoon.com</a><br />
                                +44 (0) 208 1230 900<br />
                                <a href="https://twitter.com/soonlondon" target="_blank">@thisissoon</a>
                            </p>

                        </div>

                    </div>

                </div>
            </div><!-- Bootstrap core JavaScript
            ================================================== -->
            <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/stellar.js') }}"></script>
            <script src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script>
            <script type="text/javascript">
                jQuery(document).ready(function ($) {
                //initialise Stellar.js
                $(window).stellar();
                //Cache variables for Stellar.js in the document
                var links = $('.nav').find('li');
                slide = $('.slide');
                button = $('.button');
                mywindow = $(window);
                htmlbody = $('html,body');

                function goToByScroll(dataslide) {
                    console.log(dataslide)
                    htmlbody.animate({
                        scrollTop: $('#slide' + dataslide).offset().top - 80
                    }, 1000, 'easeInOutQuint');
                }

                //When the user clicks on the navigation links, get the data-slide attribute value of the link and pass that variable to the goToByScroll function
                links.click(function (e) {
                    e.preventDefault();
                    dataslide = $(this).attr('data-slide');
                    goToByScroll(dataslide);
                });

                //When the user clicks on the button, get the get the data-slide attribute value of the button and pass that variable to the goToByScroll function
                button.click(function (e) {
                    e.preventDefault();
                    dataslide = $(this).attr('data-slide');
                    goToByScroll(dataslide);
                });
                //Mouse-wheel scroll easing

                var time = 350;
                var distance = 400;
                function wheel(event) {
                    if (event.wheelDelta) delta = event.wheelDelta / 50;
                    else if (event.detail) delta = -event.detail / 1;
                    handle();
                    if (event.preventDefault) event.preventDefault();
                    event.returnValue = false;
                }
                function handle() {

                    $('html, body').stop().animate({
                        scrollTop: $(window).scrollTop() - (distance * delta)
                    }, time);
                }

                //keyboard  scroll easing
                $(document).keydown(function (e) {
                    switch (e.which) {
                        //up
                    case 38:
                        $('html, body').stop().animate({
                            scrollTop: $(window).scrollTop() - distance
                        }, time);
                        break;
                        //down
                    case 40:
                        $('html, body').stop().animate({
                            scrollTop: $(window).scrollTop() + distance
                        }, time);
                        break;
                    }
                });
            });

            </script>

        </div>
    </div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48955452-1', 'thisissoon.com');
  ga('send', 'pageview');

</script>
</body>
</html>
