{%- extends 'layout/base.html' -%}

{%- block title -%}Peabody Sales{%- endblock -%}

{%- block logo -%}<a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='img/soon_black.png') }}" alt="SOON_" width="113px" height="44px" /></a>{%- endblock -%}

{%- block javascript_tail %}
<script src="{{ url_for('static', filename='js/soon.js') }}"></script>
{% endblock -%}

{%- block id -%}peabody{%- endblock -%}

{%- block nav -%}
<div class="navbar-collapse collapse col-xs-12 col-sm-12">
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Back</a></li>
        <li><a href="/residentadvisor">Resident Advisor</a></li>
    </ul>
</div>
{%- endblock -%}

{%- block body %}
<a id="hello" /></a>
<div id="slide1" class="slide client" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row ra-main-image">
            <div class="col-md-3 hidden-sm visible-md visible-lg"></div>
            <div class="col-xs-12 col-sm-9">
                <h1>Peabody Sales</h1>
                <p class="lead-copy">Responsive website for the new sales arm of Peabody property</p>
                <img src="{{ url_for('static', filename='img/folio/peabody-main-m.png') }}" class="hidden-sm hidden-md hidden-lg img-responsive" style="padding-top:50px;">
                <img src="{{ url_for('static', filename='img/folio/peabody-main.png') }}" class="hidden-xs" style="position:absolute;left:-120px;width:1050px;padding-top:70px;">
            </div>
        </div>
    </div>
</div>

<div id="slide2" class="slide" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 hidden-sm visible-md visible-lg"></div>
            <div class="col-xs-12 col-sm-9">
                <h2>A new paradigm in property sales.</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 hidden-sm visible-md visible-lg"></div>
            <div class="col-md-4 col-xs-6">
                <p>Peabody is a remarkable organisation, having provided sustainable, affordable, lifetime homes in London for over 150 years. That’s why when we started working with the newly formed Peabody sales team, we knew they would be equally remarkable - investing 100% of profits from the sale residential properties back in to affordable housing &amp; community support services. With such a unique positioning, passionate beliefs and individual approach we were focused from the outset in ensuring this shone through brightly in how the website engages and supports customers.</p> 
            </div>
            <div class="col-md-4 col-xs-6">
                <p>To deliver on this it was essential to understand the tension between Peabody’s social purpose as a registered charity and their new position as a credible - and above all, premium - property sales business. We needed to deliver not just a great search &amp; selection experience for customers, but to follow their journeys from first contact, viewings and throughout the sales process. We also worked alongside Peabody’s partner agency Moore-Wilson, who were engaged to build the site with SOON providing additional creative direction and QA throughout the project.</p>
            </div>
        </div>

    </div>
</div>

<div id="slide4" class="slide projects" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="carousel slide" data-ride="carousel" id="folio">
            <div class="carousel-inner">
                <div class="folio-1 item active">
                    <img src="{{ url_for('static', filename='img/folio/peabody1-m.png') }}" class="hidden-sm hidden-md hidden-lg">
                    <img src="{{ url_for('static', filename='img/folio/peabody1.png') }}" class="hidden-xs">
                    <div class="col-md-3 hidden-sm visible-md visible-lg"></div>
                    <div class="col-md-9 col-xs-9 words">
                        <h4>The customer is always right</h4>
                        <p class="grey">From the outset we acknowledged the role of mobile &amp; tablet. We created a fully responsive design that adapts to any device the customer is likely to use, in any stage of their purchase journey.</p>
                    </div>
                </div>
                <div class="folio-2 item">
                    <img src="{{ url_for('static', filename='img/folio/peabody2-m.png') }}" class="hidden-sm hidden-md hidden-lg">
                    <img src="{{ url_for('static', filename='img/folio/peabody2.png') }}" class="hidden-xs">
                    <div class="col-md-3 hidden-sm visible-md visible-lg"></div>
                    <div class="col-md-9 col-xs-9 words">
                        <h4>Search &amp; selection</h4>
                        <p class="grey">Giving customers the ability to elegantly and quickly search, sort and filter properties was a priority, respecting user’s needs and ensuring no time is wasted.</p>
                    </div>
                </div>
                <div class="folio-3 item">
                    <img src="{{ url_for('static', filename='img/folio/peabody3-m.png') }}" class="hidden-sm hidden-md hidden-lg">
                    <img src="{{ url_for('static', filename='img/folio/peabody3.png') }}" class="hidden-xs">
                    <div class="col-md-3 hidden-sm visible-md visible-lg"></div>
                    <div class="col-md-9 col-xs-9 words">
                        <h4>Visualising lifestyle</h4>
                        <p class="grey">Property sales is as much about lifestyle as it is about bricks and mortar. Bringing the local area and communities around the developments to life was essential – with more feature content to follow in the future.</p>
                    </div>
                </div>
                <div class="folio-4 item">
                    <img src="{{ url_for('static', filename='img/folio/peabody4-m.png') }}" class="hidden-sm hidden-md hidden-lg">
                    <img src="{{ url_for('static', filename='img/folio/peabody4.png') }}" class="hidden-xs">
                    <div class="col-md-3 hidden-sm visible-md visible-lg"></div>
                    <div class="col-md-9 col-xs-9 words">
                        <h4>Consistently individual</h4>
                        <p class="grey">Every development is different – both in it’s location, ambience, architectural design and the visual identity created to market it. Our design approach allowed the development pages to feel tonally very different and unique, showcasing their individuality.</p>
                    </div>
                </div>
                <div class="folio-5 item">
                    <img src="{{ url_for('static', filename='img/folio/peabody5-m.png') }}" class="hidden-sm hidden-md hidden-lg">
                    <img src="{{ url_for('static', filename='img/folio/peabody5.png') }}" class="hidden-xs">
                    <div class="col-md-3 hidden-sm visible-md visible-lg"></div>
                    <div class="col-md-9 col-xs-9 words">
                        <h4>Individually consistent</h4>
                        <p class="grey">Despite this variation, the design approach maintains a strict consistency – so even users viewing many developments that feel tonally different, will have a user experience that is consistent, structured and reassuring.</p>
                    </div>
                </div>
            </div>
            <div class="controls">
                <a class="cycle" href="#folio" data-slide="prev"><span class="left"></span></a>
                <a class="cycle" href="#folio" data-slide="next"><span class="right"></span></a>
                <h3 class="counter hidden-sm visible-md visible-lg">1/5</h3>
            </div>
        </div>
    </div>
</div>

<div style="background:#37424a url('{{ url_for('static', filename='img/folio/peabody6.png') }}') no-repeat center center;">
    <div id="slide5-0" class="peabody-folio slide icons" data-stellar-background-ratio="0.5">
        <div class="container" style="position:relative;">
            <div class="row">
                <img src="{{ url_for('static', filename='img/folio/peabody6-m.png') }}" class="hidden-sm hidden-md hidden-lg img-responsive">
                <div class="words">
                    <h4>Palette &amp; Icons</h4>
                    <p class="intro hidden-xs">Evolving new meaning from an established brand
A new complimentary colour-set allowed us to add richness to the palette without abandoning the core Peabody brand. This was complimented by a new set of iconography that feels premium but approachable.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="background:#dbd4ca url('{{ url_for('static', filename='img/folio/peabody7.png') }}') no-repeat center center;">
<div id="slide5-1" class="peabody-folio slide adaptive" data-stellar-background-ratio="0.5">
    <div class="container" style="position:relative;">
        <div class="row">
            <img src="{{ url_for('static', filename='img/folio/peabody7-m.png') }}" class="hidden-sm hidden-md hidden-lg img-responsive">
            <div class="words">
                <h4>Consistent design, infinitely adaptable</h4>
                <p class="intro hidden-xs">CMS driven templates allow the unique character of each development to shine through.</p>
            </div>
        </div>
    </div>
</div>
</div>

<div style="background:#eee5d8 url('{{ url_for('static', filename='img/folio/peabody8.png') }}') no-repeat center center;">
<div id="slide5-2" class="peabody-folio slide sales" data-stellar-background-ratio="0.5">
    <div class="container" style="position:relative;">
        <div class="row">
            <img src="{{ url_for('static', filename='img/folio/peabody8-m.png') }}" class="hidden-sm hidden-md hidden-lg img-responsive">
            <div class="words">
                <h4>An online sales experience that just works</h4>
                <p class="intro hidden-xs">The needs of customers change throughout the sales process and understanding their requirements, mindset and likely choice of device at each stage of the journey was essential to delivering a great end-to-end sales experience.</p>

                <p class="hidden-xs">This meant an adaptable interface that can un-pack over time, allowing the customer dashboard to develop in complexity as prospects make initial contact with sales personnel, arrange viewings, make an offer and manage legal proceedings through to completion.</p>

                <p class="hidden-xs">It also meant juggling some complex and detailed functional requirements with elegant, premium, friendly graphic design - so the website provides customers with what they need, when they need it, in the most convenient way possible.</p>
            </div>   
        </div>
    </div>
</div>
</div>

<div id="slide6" class="what-they-say slide" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 hidden-sm visible-md visible-lg"></div>
            <div class="col-md-9 col-xs-12">
                <h2>“SOON_ came back with thoroughly researched ideas, brilliant concepts and innovative designs.”</h2>
                <p class="by">Sigal Hachlili-Dwyer - Head of Digital, Peabody</p>

                <p class="result">Peabody Sales was launched mid-May 2014. Check back for an update on performance later in the year.</p>

                <a href="http://peabodysales.co.uk">Visit peabodysales.co.uk</a>
            </div>
        </div>
    </div>
</div>

<div id="slide8" class="slide" data-stellar-background-ratio="0.5">
    <div class="container contact">
        <div class="row">
            <div class="col-md-3 hidden-sm visible-md visible-lg">
            </div>
            <div class="col-md-9 col-xs-9">
                <h1>Say hello</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 hidden-sm visible-md visible-lg"></div>
            <div class="col-md-3 col-xs-6">
                <h4 class="underline white">Visit us:</h4>
                <p>The Third Floor<br>
                Fergusson House<br>
                124-128 City Road<br>
                London<br>
                EC1V 2NJ</p>
            </div>
            <div class="col-md-3 col-xs-6">
                <h4 class="underline white">Get in touch:</h4>
                <p>
                    <a href="mailto:hello@thisissoon.com">hello@thisissoon.com</a><br />
                    +44 (0)7940 3293333<br />
                    <a href="https://twitter.com/soonlondon" target="_blank">@thisissoon</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock -%}
