{% extends 'admin/master.html' %}

{% block body %}
{{ super() }}
<h2>Delete Confirm</h2>
<form action="{{ url_for(request.url_rule.endpoint, confirm=True) }}" method="post" enctype="multipart/form-data" id="delete-confirm-form">
    <div class="row">
        <div class="span6 well control-group">
            <p>Please confirm you wish to delete the following record(s):</p>
            <ul>
                {% if obj %}
                <li>{{ obj }}</li>
                {% endif %}
                {% for obj in objects %}
                <li>{{ obj }}</li>
                <input type="hidden" name="objects" id="objects" value="{{ obj.id }}" />
                {% endfor %}
            </ul>
            <div class="controls">
                <a href="{{ cancel_url }}" class="btn">Cancel</a>
                {% if obj %}
                    <a href="{{ url_for(request.url_rule.endpoint, pk=obj.id, confirm=True) }}" class="btn btn-danger pull-right"><i class="icon-trash icon-white"></i> Delete</a>
                {% endif %}
                {% if objects %}
                    <button type="submit" class="btn btn-danger pull-right"><i class="icon-trash icon-white"></i> Delete</button>
                {% endif %}
            </div>
        </div>
    </div>
</form>
{% endblock %}
