{% macro form(action=None, legend=None, form=None) %}
<hr />
<form action="{{ action|default('#') }}" method="POST" class="form-horizontal" enctype="multipart/form-data">
    <fieldset>
        {% if legend %}
            <legend>{{ legend }}</legend>
        {% endif %}
        {{ caller() }}
    </fieldset>
</form>
{% endmacro %}

{% macro form_field(form, field) %}
    {% if not is_hidden_field(field) %}
        <div class="control-group{% if field.errors %} error{% endif %}">
            {{ field.label(class_='control-label') }}
            <div class="controls">
                {{ field() }}
                {% if field.errors %}
                    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                        {% for error in field_errors %}
                        <span class="label label-important">{{ error }}</span>
                        {% endfor %}
                    {% endfor  %}
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro form_fields(form) %}
    {% if form.hidden_tag is defined %}
        {{ form.hidden_tag() }}
    {% endif %}
    {% for field in form %}
        {{ form_field(form, field) }}
    {% endfor %}
{% endmacro %}

{% macro form_controls(buttons) %}
<div class="control-group">
    <div class="controls btn-toolbar">
        {{ caller() }}
    </div>
</div>
{% endmacro %}

{% macro save_button(classes=['btn', 'btn-primary']) %}
<button type="submit" class="{% for class in classes %}{{ class }} {% endfor %}"><i class="icon-hdd icon-white"></i> Save</button>
{% endmacro %}

{% macro cancel_button(href, classes=['btn', 'pull-right']) %}
<a href="{{ href }}" class="{% for class in classes %}{{ class }} {% endfor %}"><i class="icon-arrow-left"></i> Cancel</a>
{% endmacro %}

{% macro delete_button(href, classes=['btn', 'btn-danger', 'pull-right']) %}
<a href="{{ href }}" class="{% for class in classes %}{{ class }} {% endfor %}"><i class="icon-trash icon-white"></i> Delete</a>
{% endmacro %}
