    /* =Import
----------------------------------------------------------------------------------------------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Nixie+One);

body {-webkit-font-smoothing: antialiased;}

h1 {font-size:7em;padding-bottom:0.5em;}
h2 {font-size:4em;padding-bottom:0.7em;}
h3 {font-size:6em;}
h4 {font-size:1.2em;}
h5 {font-size:1.7em;}
.lead-copy {font-size:2em;line-height:1.2em;padding-bottom:10px;}

h1, h2, h3, h5, .lead-copy  {font-family: 'Nixie One', sans-serif; font-weight:normal;}

p a {background:#ffff0b;padding:3px;}
a {color:#000;}
a:hover {color:#fff;text-decoration: none;background: #000}

em {font-style:normal;background:#ffff0b;padding:0px;margin:0px;}

.navbar-brand {padding:13px 0 0 0;margin:0;}
a.navbar-brand:hover {background: transparent;}
.navbar-fixed-top {background:#ebf0f1;opacity:0.95;}

.nav li { padding:0 0 0 130px;}
.nav li a {color:#595b5b !important;padding-left:7px;margin:0;padding-right:30px;}
.nav li a:hover, a.active {text-decoration: underline;}

.navbar-toggle {
  border:none !important;
  background:#ffff0b !important;
  border-radius: 0px !important;
  padding:15px !important;
  margin-right:0px !important;
}
.navbar-toggle .icon-bar {
  background-color: #000000 !important;
  border: 2px solid #000000 !important;
  border-radius:none !important;
}

.panel-2, .contact {color:#ffffff;}
.underline {display:block;
  border-bottom:1px solid #000;
  padding-bottom:15px;
  margin-bottom:15px;}
.white {border-bottom:1px solid #999;}
.small {opacity:0.7;}

#map { width:100%;height:400px; }

.panel-3 ul{
    margin:0;
    padding:0;
    list-style-type: none;
}
.panel-3 li {
    font-size:14px;
    line-height:22px;
}
.panel-3 li:before {
    content:"-"; position:relative; left:-5px;
}

#slide1,
#slide2,
#slide3,
#slide4,
#slide5,
#slide6,
#slide7 {
  padding-bottom:60px;
}
#slide1 {
  padding-top:120px !important;
  background-color: #ebf0f1;
}
#slide2 {
  padding-top:80px !important;
  background-color: none;
}
#slide3 {
  padding-top:80px !important;
  background-color: #ffff0b;
}
#slide4 {
  background-color: #ebf0f1;
}
#slide5 {
  padding-top:80px !important;
  background-color: #ffffff;
}
#slide6 {
  background-color: #3b3b3b;
}
#slide7 {
  padding-top:80px !important;
  padding-bottom:0px !important;
}
#slide8 {
  padding-top:80px !important;
  background-color: #000000;
}

/* case studies */
.projects {background-color: #ebf0f1 !important;}
.projects .carousel-inner {top:-20px;}
.projects a {font-size:1em;font-weight:normal;color:#000;text-decoration: none;background: #ffff0b;padding:3px;}
.projects a:hover {color:#fff;text-decoration: none;background: #000}
.projects span.left, span.right {position:absolute;width:48px;height:48px;display:block;}
.projects span.left {right:50px;bottom:50px;background:url('../img/left.png') 0px 0px no-repeat !important;}
.projects span.right {right:0px;bottom:50px;background:url('../img/right.png') 0px 0px no-repeat !important;}
.projects h3.counter {position:absolute;font-size:3em;}
.projects h2 {font-size:2.7em;padding-bottom:0;}

/* about us */
.about {
  background:url('../img/wall.png') 0 -163px repeat-x;
}
.about h2 {width:300px !important;}
.about h4.underline {width:125px;}
.about a.linkedin {background:#ffff0b;padding:5px 3px 3px 3px;margin:0;}
.about a:hover {color:#000;text-decoration: none;background: #fff}
.about span.left, span.right {position:absolute;width:48px;height:48px;display:block;}
.about span.left {left:10px;bottom:70px;background:url('../img/left.png') 0px 0px no-repeat !important;}
.about span.right {left:60px;bottom:70px;background:url('../img/right.png') 0px 0px no-repeat !important;}
.about h3.counter {position:absolute;font-size:3em;}
.fred, .alex, .greg, .chris {
  display:block;
  height:240px;
}
.fred {
  background:url('../img/fred.png') 140px -26px no-repeat;
}
.alex {
  background:url('../img/alex.png') 140px -26px no-repeat;
}
.greg {
  background:url('../img/greg.png') 140px -26px no-repeat;
}
.chris {
  background:url('../img/chris.png') 140px -20px no-repeat;
}

/* contact us */
.contact a:hover {color:#000;text-decoration: none;background: #fff}
a.cycle {background:transparent !important}

/* PEABODY */

#peabody .navbar-fixed-top {background-color:#eee5d8;opacity:0.95;}
#peabody .nav li a:hover {background-color:#eee5d8;}

#peabody .client {background-color:#eee5d8;padding-bottom:0px;}
#peabody .client {font-size:0.7em !important;}

#peabody #slide2 {background-color:#eee5d8;padding-top:60px !important;padding-bottom:70px !important;}
#peabody #slide2 h2 {font-size:2.7em !important;}
#peabody #slide2 p {width:98% !important;line-height:1.8em;}

#peabody #slide4 {padding-bottom: 0px;}
#peabody .projects {background-color:#dbd4ca !important}
#peabody .projects .carousel-inner .words {padding:0 10px 0 0;height:180px;}
#peabody .projects .controls {position:absolute;right:0;top:88%;}

#peabody .icons{color:#cccccc !important;height:340px;}
#peabody .adaptive {color:#333 !important;height:380px;}
#peabody .sales{color:#333 !important;height:360px;}

#peabody #slide5-0 .words {position:absolute;top:280px;left:15px;}
#peabody #slide5-1 .words {position:absolute;top:320px;left:15px;}
#peabody #slide5-2 .words {position:absolute;top:300px;left:15px;}

#peabody .what-they-say {background-color:#eee5d8 !important;padding-top:60px;padding-bottom:80px}
#peabody .what-they-say h2 {font-size:2.7em;padding-bottom:0 !important;}
#peabody .what-they-say .result {padding-top:60px;padding-bottom:20px;width:100%;}
#peabody .what-they-say a {background:#ffff0b;padding:3px;font-size:2em;font-family: 'Nixie One', sans-serif; font-weight:normal;}
#peabody .what-they-say a:hover {background:#000;}


/* RESIDENT ADVISOR */


#ra .navbar-fixed-top {background-color:#393a3a;opacity:0.95;}
#ra .nav li a:hover {background-color:#393a3a;}
#ra .nav li a {color:#eff3f4 !important;}

#ra .client {background-color:#393a3a;color:#eff3f4;padding-bottom:70px;}
#ra .client {font-size:0.7em !important;}

#ra #slide2 {background-color:#676767;padding-top:60px !important;padding-bottom:70px !important;}
#ra #slide2 h2 {font-size:2.7em !important;color:#eff3f4;}
#ra #slide2 p {width:98% !important;line-height:1.8em;color:#eff3f4;}

#ra #slide4 {padding-bottom: 0px;}
#ra .projects .carousel-inner .words {padding:0;}

#ra .what-they-say {background-color:#393a3a !important;padding-top:40px;}
#ra .what-they-say h2 {font-size:2.7em;padding-bottom:0 !important;color:#eff3f4;}
#ra .what-they-say .by {color:#eff3f4;}
#ra .what-they-say .result {padding-top:60px;padding-bottom:20px;color:#eff3f4;width:100%;}
#ra .what-they-say a {background:#ffff0b;padding:3px;font-size:2em;font-family: 'Nixie One', sans-serif; font-weight:normal;}
#ra .what-they-say a:hover {background:#000;}


@media (max-width:992px) and (min-width:420px) {
  #slide5-0,#slide5-1,#slide5-2,#slide5-3,#slide5-4 {display:none !important;}
}

/* DESKTOP */
@media (min-width: 992px)
{
  .navbar-brand {display:none;}
  .nav li { padding:0 10px 0 0;}

  #slide1,
  #slide2,
  #slide3,
  #slide4,
  #slide5,
  #slide6,
  #slide7,
  #slide8,
  .peabody-folio,
  .ra-folio {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 40px 220px !important;
    -webkit-background-size: 226px 89px;
    -moz-background-size: 226px 89px;
    background-size: 226px 89px;
    padding-bottom:100px !important;
  }
  /* hello */
  #slide1 {
    padding-top:182px !important;
    background-image: url(../img/soon_black.png);
  }
  #slide1 .lead-copy {font-size:3em !important;line-height:1.2em;width:85% !important;}
  /* be more digital */
  #slide2 {
    padding-top:100px !important;
    background-image: url(../img/soon_white.png);
  }
  #slide2 h2 {font-size:6em !important;width:70% !important;}
  #slide2 p {width:50% !important;line-height:1.8em;}

  /*what we do*/
  #slide3 {
    padding-top:100px !important;
    background-image: url(../img/soon_black.png);
  }
  #slide3 h2 {padding-bottom:0;width:70%;}
  #slide3 li {font-size:0.9em;}
  
  #slide3 {
    padding-top:100px !important;
    background-image: url(../img/soon_black.png);
  }

  #slide5 {
    padding-top:100px !important;
    background-image: url(../img/soon_black.png);
  }

  .projects {
    background-image: url(../img/soon_black.png);
    height:680px;
  }
  .projects .carousel-inner {top:-40px;}
  .projects p {width:60% !important;padding-top:10px;}
  .projects span.left {
    right:130px;
    bottom:120px;
  }
  .projects span.right {
    right:78px;
    bottom:120px;
  }
  .projects h3.counter {
    right:0px;
    bottom:115px;
  }
  .projects .carousel-inner .words {padding:0px;}
  .projects .controls {position:absolute;right:70px;top:705px;}

  /* slide7 about */
  .about {
    background:url('../img/wall.png') 0 -163px repeat-x;
  }
  .fred, .alex, .greg, .chris {
    display:block;
    height:640px;
  }
  .fred {
    background:url('../img/fred.png') -30px 113px no-repeat;
  }
  .alex {
    background:url('../img/alex.png') -20px 113px no-repeat;
  }
  .greg {
    background:url('../img/greg.png') -30px 113px no-repeat;
  }
  .chris {
    background:url('../img/chris.png') -20px 113px no-repeat;
  }
  #slide7 {
    padding-top:100px !important;
    padding-bottom:0px !important;
    background-image: url(../img/soon_black.png);
  }

  #slide8 {
    padding-top:100px !important;
    padding-bottom:450px !important;
    background-image: url(../img/soon_white.png);
  }
  #slide8 p, #slide8 h4 {font-size: 0.9em; line-height: 1.8em; font-weight: normal}

  #home .carousel {height:480px !important;}
  #home .carousel-inner img {padding-left:280px;}

  /* PEABODY */

  #peabody #slide1 {
    background-image: url(../img/soon_black.png);
  }
  #peabody #slide2 {
    padding-top:100px !important;
    background-image: url(../img/soon_black.png);
  }

  #peabody .client {height:1310px !important;}
  #peabody .client {font-size:1em !important;}
  #peabody .client h1 {width:200px;position:relative;top:-106px;margin-bottom:-30px;padding-bottom:0px;}

  #peabody #slide2 {padding-top:0px !important;padding-bottom:120px !important;}

  #peabody .projects {height:780px !important;}
  #peabody .projects .carousel-inner {position:absolute;right:-180px;top:-40px;width:1200px;height:800px;}
  #peabody .projects .carousel-inner img {position:absolute;left:-30px;}
  #peabody .projects .carousel-inner .words {position:absolute;top:600px;left:170px;height:180px;width:70%;}
  #peabody .projects .controls {position:absolute;right:80px;top:760px;}


  #peabody .peabody-folio {
    background-image: url(../img/soon_black.png);
    height:800px;
  }
  #peabody .icons {
    background-image: url(../img/soon_white.png);
  }

  #peabody #slide5-0 .words {position:absolute;top:100px;left:305px;width:600px;}
  #peabody #slide5-1 .words {position:absolute;top:680px;left:305px;width:400px;}
  #peabody #slide5-2 .words {position:absolute;top:110px;left:700px;width:350px;}

  #peabody .what-they-say {
    background-image: url(../img/soon_black.png);
    padding-top:80px;
  }
  #peabody .what-they-say h2 {font-size:3.5em;padding-bottom:0 !important;width:85%;}
  #peabody .what-they-say .result {width:50%;}
  #peabody .what-they-say a {font-size:3em;}

  /* RESIDENT ADVISOR */

  #ra .client {background-color:#393a3a;}
  
  #ra #slide1 {
    background-image: url(../img/soon_white.png);
  }
  #ra #slide2 {
    padding-top:100px !important;
    background-image: url(../img/soon_white.png);
  }

  #ra .client {height:1310px !important;}
  #ra .client {font-size:1em !important;}
  #ra .client h1 {width:200px;position:relative;top:-106px;margin-bottom:-30px;padding-bottom:0px;line-height:1em;}

  #ra #slide2 {padding-top:100px !important;padding-bottom:120px !important;}

  #ra .projects {height:780px !important;}
  #ra .projects .carousel-inner {position:absolute;right:-180px;top:-155px;width:1200px;height:880px;}
  #ra .projects .carousel-inner img {position:absolute;left:-30px;}
  #ra .projects .carousel-inner .words {position:absolute;top:750px;left:157px;}
  #ra .projects .controls {position:absolute;right:80px;top:803px;}

  #ra .ra-folio {
    padding-top:100px !important;
    background-image: url(../img/soon_white.png);
    height:800px;
  }
  #ra #slide5-2 {
    background-image: url(../img/soon_black.png);
  }

  #ra .what-they-say {
    background-image: url(../img/soon_white.png);
    padding-top:80px;
  }
  #ra .what-they-say h2 {font-size:3.5em;padding-bottom:0 !important;color:#eff3f4;width:85%;}
  #ra .what-they-say .result {width:50%;}
  #ra .what-they-say a {font-size:3em;}

}
